{% extends "base.html" %} {% block content %}
<div class="main">
  <section id="illustration">
    <img
      src="assets/images/illustration.webp"
      alt="Image of a calendar."
      class="illustration_2"
    />
  </section>

  <!-- Sign up form  -->
  <section class="right">
    <section class="contact">
      <h3 style="margin: 10px">Contact us</h3>
      <form
        method="POST"
        action="https://formdump.codeinstitute.net"
        target="_blank"
      >
        <label for="message">Send us a message</label>
        <br />
        <textarea
          id="message"
          name="message"
          rows="7"
          cols="50"
          style="margin: 10px 0 0 0"
        >
Type your message here</textarea
        >
        <br />
        <input
          type="submit"
          id="submit"
          value="Send message"
          style="max-width: 300px"
        />
      </form>
    </section>
  </section>
</div>
{% endblock %}
