{% extends "base.html" %} {% block content %}
<div class="main">
  <!-- Illustration -->
  <section id="illustration">
    <img
      src="assets/images/illustration.webp"
      alt="Illustration of a calendar."
      class="illustration"
    />
  </section>
  <section class="title_and_buttons">
    <a href="doctors.html" class="buttons">Book an appointment</a>

    <a href="appointments.html" class="buttons">View booked appointments</a>

    <a href="contact.html" class="buttons">Contact us</a>
  </section>
</div>
{% endblock %}
