{% extends "base.html" %} {% block content %}
<div class="main">
  <section id="illustration">
    <img
      src="assets/images/illustration.webp"
      alt="Image of a calendar."
      class="illustration_2"
    />
  </section>

  <!-- Lost password form  -->
  <section class="right">
    <section class="change_password">
      <form
        method="POST"
        action="https://formdump.codeinstitute.net"
        target="_blank"
      >
        <label for="new_password" style="font-weight: 600">New password</label>
        <br />
        <input
          type="text"
          name="new_password"
          id="new_password"
          style="margin-bottom: 30px"
          required
        />
        <br />
        <label for="confirm_password" style="font-weight: 600"
          >Confirm password</label
        >
        <br />
        <input
          type="text"
          name="confirm_password"
          id="confirm_password"
          style="margin-bottom: 3px"
          required
        />
        <input type="submit" id="submit" value="Change password" />
      </form>
    </section>
  </section>
</div>

{% endblock %}
