{% extends "base.html" %} {% block content %}

<section class="container">
  <h3>Choose a doctor</h3>
  <div class="doctors">
    <section class="doctor">
      <h3>Dr Tracey</h3>
      <img src="assets/images/dr_tracey.webp" alt="Picture of Dr Tracey." />
      <a href="dr_tracey_calendar.html" class="buttons">See availability</a>
    </section>
    <section class="doctor">
      <h3>Dr Marsh</h3>
      <img src="assets/images/dr_marsh.webp" alt="Picture of Dr Marsh." />
      <a href="dr_marsh_calendar.html" class="buttons">See availability</a>
    </section>
    <section class="doctor">
      <h3>Dr Copeland</h3>
      <img src="assets/images/dr_copeland.webp" alt="Picture of Dr Copeland." />
      <a href="dr_copeland_calendar.html" class="buttons">See availability</a>
    </section>
    <section class="doctor">
      <h3>Dr Waller</h3>
      <img src="assets/images/dr_waller.webp" alt="Picture of Dr Waller." />
      <a href="dr_waller_calendar.html" class="buttons">See availability</a>
    </section>
    <section class="doctor">
      <h3>Dr Laurent</h3>
      <img src="assets/images/dr_laurent.webp" alt="Picture of Dr Laurent." />
      <a href="dr_laurent_calendar.html" class="buttons">See availability</a>
    </section>
    <section class="doctor">
      <h3>Dr Toni</h3>
      <img src="assets/images/dr_toni.webp" alt="Picture of Dr Toni." />
      <a href="dr_toni_calendar.html" class="buttons">See availability</a>
    </section>
  </div>
</section>

{% endblock %}
