{% extends "base.html" %}
{% load static %}

{% load i18n %}


{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<main>
        
            <h3>{% trans "Sign In" %}</h3>

          
   
    
            <form method="POST" action="{% url 'account' %}">
                {% csrf_token %}
                {{ form.as_p }}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button class="buttons" type="submit">{% trans "Sign In" %}</button>
            </form>
       
          </main>

{% endblock %}