{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="main">
  <section id="illustration">
    <img
      src="{% static 'images/illustration.webp' %}"
      alt="Image of a calendar."
      class="illustration_2"
    />
  </section>

  <section class="title_and_buttons">	   
        		    		
    <a href="{% url 'doctors' %}" class="buttons">Book an appointment</a>		    

   <a href="{% url 'appointments' %}" class="buttons">View upcoming appointments</a>

      
</section>
</div>
{% endblock %}
