{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="main">
  <section id="illustration">
    <img
      src="{% static 'images/illustration.webp' %}"
      alt="Image of a calendar."
      class="illustration_2"
    />
  </section>

  <section class="title_and_buttons">	   
        		    		
    <a href="doctors.html" class="buttons">Book an appointment</a>		    

   <a href="appointments.html" class="buttons">View booked appointments</a>

<a href="contact.html" class="buttons">Contact us</a>
      
</section>
</div>
{% endblock %}
