{% extends "base.html" %}
{% load static %}
{% block content %}
<div>
  <h3>Upcoming Appointment</h3>   
  




{% for booking in appointments %}
   {% if forloop.last %}
    {{ booking.appointment.date }}    
    {{ booking.appointment.time }}
    <form action="{% url 'update_booking' booking.id %}" method="POST">
      {% csrf_token %}
      <input type="submit" class="buttons" name="cancel_button" value="Update appointment">
    </form>
    <form action="{% url 'cancellation' booking.id %}" method="POST">
      {% csrf_token %}
      <input type="submit" class="buttons" name="cancel_button" value="Cancel appointment">
    </form>    
    <a href="{% url 'booking' %}" class="buttons">Book another appointment</a>
  {% endif %}
{% endfor %}




  
  
</div>
{% endblock %}