{% extends "base.html" %}
{% load static %}
{% block content %}

<main>
<div>
  <h3>Dr Tracey's available appointments</h3>
 
    <form method="POST" action="{% url 'booking' %}" >
    {% csrf_token %}       
     <!--<label for="first_name">First name:</label>
      <input type="text" name="first_name" id="first_name">{{ form.first_name }}</input>
      <label for="last_name">Last name:</label>
      <input type="text" name="last_name" id="last_name">{{ form.last_name }}</input> 
      <label for="email">Email address:</label>
      <input type="email" name="email" id="email">{{ form.email_address }}</input> 
      <label for="phone">Phone number:</label>
      <input type="tel" name="phone" id="phone">{{ form.phone_number }}</input> 
      --> 
            
      <p>Choose a date and time</p>
     
  {% for item in availability %}
      
        {{ item.date }}
        {{ item.time }}
        <input type="submit" name="save" class="buttons">Select</input>
         
  {% endfor %}
  
  </form>

  
   
</div>

</main>

{% endblock %}
