{% extends "base.html" %}
{% load static %}
{% block content %}
<div>
  <h3>Upcoming Appointment</h3>   
  



{% for booking in appointments %}
{% comment %}

  {% endcomment %}
    {{ booking.appointment.date }}    
    {{ booking.appointment.time }}
    <form action="{% url 'update_booking' booking.id %}" method="POST">
      {% csrf_token %}
      <input type="submit" class="buttons" name="cancel_button" value="Update appointment">
    </form>
    <form action="{% url 'cancellation' booking.id %}" method="POST">
      {% csrf_token %}
      <input type="submit" class="buttons" name="cancel_button" value="Cancel appointment">
    </form>       
    {% comment %}
 
 {% endcomment %}
{% endfor %}
<a href="{% url 'booking' %}" class="buttons">Book new appointment</a>
  
</div>
{% endblock %}