{% extends "base.html" %}
{% load static %}
{% block content %}

<main>
<div>
  <h3>Dr Tracey's available appointments</h3>
  <table> 
    <form method="POST" action="{% url 'booking' %}" >
    {% csrf_token %} 
      <tr><th>Date</th><th>Time</th><th></th></tr>
      <tr>
      {% for field in form %}
      <td>{{ field }}</td>
      {% endfor %}
  </tr>
  {% for item in availability %}
      <tr>
        <td>{{ item.date }}</td>
        <td>{{ item.time }}</td>
        <td><button name="save" class="buttons">Select</button></td>
      </tr>      
  {% endfor %}
  </form>
  </table>
  
   
</div>

</main>
</section>
{% endblock %}
