{% extends "base.html" %}
{% load static %}
{% block content %}

<main>
  <h3>Choose a doctor</h3>
  <div class="doctors">
    <section class="doctor">
      <h3>Dr Tracey</h3>
      <img src="{% static 'images/dr_tracey.webp' %}" alt="Picture of Dr Tracey." />      
      <a href="{% url 'doctor_1' %}" class="buttons">See availability</a>
    </section>
    <section class="doctor">
      <h3>Dr Marsh</h3>
      <img src="{% static 'images/dr_marsh.webp' %}" alt="Picture of Dr Marsh." />
   
    </section>
    <section class="doctor">
      <h3>Dr Copeland</h3>
      <img src="{% static 'images/dr_copeland.webp' %}" alt="Picture of Dr Copeland." />
      
    </section>
    <section class="doctor">
      <h3>Dr Waller</h3>
      <img src="{% static 'images/dr_waller.webp' %}" alt="Picture of Dr Waller." />
      
    </section>
    <section class="doctor">
      <h3>Dr Laurent</h3>
      <img src="{% static 'images/dr_laurent.webp' %}" alt="Picture of Dr Laurent." />
    
    </section>
    <section class="doctor">
      <h3>Dr Toni</h3>
      <img src="{% static 'images/dr_toni.webp' %}" alt="Picture of Dr Toni." />
     
    </section>
  </div>
  {% if submitted %}
    You have booked an appointment.
  {% else %}

  
  <form action="" method="POST">
    {% csrf_token %} 
    {{ form.as_p }}
    <input type="submit" id="submit" class="buttons" value="Book appointment" />
  </form>
  {% endif %}
</main>

{% endblock %}

