{% extends "base.html" %}
{% load static %}
{% block content %}
<nav>
<section class="container">
  <h3>Choose a doctor</h3>
  <div class="doctors">
    <section class="doctor">
      <h3>Dr Tracey</h3>
      <img src="{% static 'images/dr_tracey.webp' %}" alt="Picture of Dr Tracey." />      
      <a href="{% url 'doctor_1' %}" class="buttons">See availability</a>
    </section>
    <section class="doctor">
      <h3>Dr Marsh</h3>
      <img src="{% static 'images/dr_marsh.webp' %}" alt="Picture of Dr Marsh." />
      <a href="{% url 'doctor_2' %}" class="buttons">See availability</a>
    </section>
    <section class="doctor">
      <h3>Dr Copeland</h3>
      <img src="{% static 'images/dr_copeland.webp' %}" alt="Picture of Dr Copeland." />
      <a href="{% url 'doctor_3' %}" class="buttons">See availability</a>
    </section>
    <section class="doctor">
      <h3>Dr Waller</h3>
      <img src="{% static 'images/dr_waller.webp' %}" alt="Picture of Dr Waller." />
      <a href="{% url 'doctor_4' %}" class="buttons">See availability</a>
    </section>
    <section class="doctor">
      <h3>Dr Laurent</h3>
      <img src="{% static 'images/dr_laurent.webp' %}" alt="Picture of Dr Laurent." />
      <a href="{% url 'doctor_5' %}" class="buttons">See availability</a>
    </section>
    <section class="doctor">
      <h3>Dr Toni</h3>
      <img src="{% static 'images/dr_toni.webp' %}" alt="Picture of Dr Toni." />
      <a href="{% url 'doctor_6' %}" class="buttons">See availability</a>
    </section>
  </div>
</section>
</nav>

{% endblock %}

