{% extends "base.html" %}
{% load static %}
{% block content %}

<main>
<div>
  <h3>Dr Tracey's availability for today</h3>
  <h3>Thursday 15th of February 2024</h3>
  <br />
  <p>Select an appointment</p>
  <form method="POST" action="{% url 'booking' %}">
    {% csrf_token %}
    <option>Patient ID number:</option>
    <label for="id_number" style="font-weight: 600">Select a time</label> 
    <option>10:00</option>
    <option>11:00</option>
    <option>13:00</option>
    <option>15:00</option>
    <option>17:00</option>         
    <br />
    <input type="submit" id="submit" class="buttons" value="Sign in" />
  </form> 
</div>
</main>
</section>
{% endblock %}
