{% extends "base.html" %} {% block content %}

<div class="main">
  <section id="illustration">
    <img
      src="{% static 'images/illustration.webp' %}"
      alt="Image of a calendar."
      class="illustration_2"
    />
  </section>

  <!-- Lost password form  -->
  <section class="right">
    <div class="email_sent">
      <p style="font-weight: bold">An email has been sent to</p>
      <p>email address</p>
      <br />
      <p style="font-weight: bold">
        In this email you'll find a link to change your password.
      </p>
    </div>
  </section>
</div>

{% endblock %}
