{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="main">
  <!-- Illustration -->  
  
  <section id="illustration">
    <img
      src="{% static 'images/illustration.webp' %}"
      alt="Illustration of a calendar."
      class="illustration"
    />
  </section>
  <section class="title_and_buttons">
    <!-- Sign in button -->

    <a href="{% url 'login' %}" class="buttons">Sign in</a>

    <!-- Sign up button -->

    <a href="{% url 'sign_up' %}" class="buttons">Sign up for an account</a>
  </section>
</div>

{% endblock %}
