{% load static %}
{% extends "base.html" %} {% block content %}
<div class="main">
  <!-- Illustration -->
  <section id="illustration">
    <img
      src="assets/images/illustration.webp"
      alt="Illustration of a calendar."
      class="illustration"
    />
  </section>
  <section class="title_and_buttons">
    <!-- Sign in button -->

    <a href="login.html" class="buttons">Sign in</a>

    <!-- Sign up button -->

    <a href="sign_up.html" class="buttons">Sign up for an account</a>
  </section>
</div>

{% endblock %}
