{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="main">
  <section id="illustration">
    <img
      src="{% static 'images/illustration.webp' %}"
      alt="Image of a calendar."
      class="illustration_2"
    />
  </section>

  <!-- Lost password form  -->
  <section class="right">
    <section class="sign_up_form">
      <form
        method="POST"
        action="https://formdump.codeinstitute.net"
        target="_blank"
      >
        <label for="id_number" style="font-weight: 600"
          >Please enter your patient ID number</label
        >
        <br />
        <input
          type="text"
          name="id_number"
          id="id_number"
          style="margin-bottom: 3px"
          required
        />
        <br />
        <input type="submit" id="submit" value="Change password" />
      </form>
    </section>
  </section>
</div>

{% endblock %}
