{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="main">

    <!-- Illustration -->
    <section id="illustration">
        <img src="{% static 'images/illustration.webp' %}" alt="Illustration of a calendar." class="illustration">
    </section>
    <section class="right">
        <section class="appointments">
            <h3 style="margin: 0 0 15px 0">Past appointments</h3>
            <p style="font-weight: 600">2023</p>
            <br>
            <p>Appointment with Dr Tracey</p>
            <p>Date: 07.02.2023</p>
            <p>Time: 09:00</p>
            <br>
            <p style="font-weight: 600">2022</p>
            <br>
            <p>Appointment with Dr Toni</p>
            <p>Date: 17.06.2022</p>
            <p>Time: 15:00</p>

            <section>

            </section>
</div>

{% endblock %}

